@page
@model Library.Pages.AddModel

@{
    ViewData["Title"] = "Add";
}

<div class="jumbotron p-3">
    <div class="d-flex align-items-center">
        <h1 class="display-4 flex-grow-1">
            Add Book
        </h1>
        <a class="btn btn-primary btn-sm" asp-page="./Index">
            <i class="fas fa-chevron-left"></i>Back to List
        </a>
    </div>
</div>

<form method="post">
    <div class="wrapper">
        <div id="hide-id" class="form-row">
            <label asp-for="User.ID">ID:</label>
            <input asp-for="User.ID" />
        </div>

        <div class="form-row">
            <label asp-for="User.Name">Name:</label>
            <input asp-for="User.Name" />
            <span asp-validation-for="User.Name" class="text-danger"></span>
        </div>

        <div class="form-row">
            <label asp-for="User.Author">Author:</label>
            <input asp-for="User.Author" />
            <span asp-validation-for="User.Author" class="text-danger"></span>
        </div>

         <div class="form-row">
            <label asp-for="User.ISBN">ISBN Number:</label>
            <input asp-for="User.ISBN" placeholder="Only ISBN-13 allowed"/>
            <span asp-validation-for="User.ISBN" class="text-danger"></span>
        </div>

        <div class="form-row">
            <label asp-for="User.Read">Read?</label>
            <input asp-for="User.Read" />
            <span asp-validation-for="User.Read" class="text-danger"></span>
        </div>

        <div class="edit-button">
            <input type="submit" value="Save" class="myButton" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
